.profile__edit-button {
	width: 10px;
	height: 10px;
	padding: 7px;
	border: 1px solid #fff;
	vertical-align: baseline;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.profile__edit-button:hover {
	opacity: 0.6;
	cursor: pointer;
}

@media screen and (max-width: 575px) {
	.profile__edit-button {
		width: 7.5px;
		height: 7.5px;
		padding: 5.25px;
	}
}