.popup__container {
	width: 100%;
	max-width: 470px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 575px) {
	.popup__container {
		max-width: 290px;
	}
}