.profile {
	display: grid;
	grid-template-columns: 157px minmax(max-content, 336px) 1fr;
	margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
	.profile {
		grid-template-columns: 157px 1fr;
		grid-row-gap: 36px;
	}
}

@media screen and (max-width: 575px) {
	.profile {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}