.profile__add-button {
	padding: 14px 64px;
	border: 2px solid #fff;
	border-radius: 2px;
	justify-self: flex-end;
	align-self: center;
	margin-bottom: 24px;
}

@media screen and (max-width: 1080px) {
	.profile__add-button {}
}

@media screen and (max-width: 768px) {
	.profile__add-button {}
}

.profile__add-button:hover {}