.profile__name {
	font-size: 42px;
	line-height: 1.2;
	font-weight: 500;
	color: #fff;
	margin: 0 18px 16px 0;
	align-self: flex-end;
	display: inline-block;
}

@media screen and (max-width: 575px) {
	.profile__name {
		font-size: 27px;
		margin: 0 10px 14px 0;
	}
}